*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
    scroll-behavior: smooth;
}


h1{
    font-family: 'Eater', cursive;
    font-size: 3rem;
}
h2{
    font-family: 'Dancing Script', cursive, monospace;
    font-size: 2rem;
}
.main-heading{
    text-align: center;
}
.nav-items{
    background-color: rgba(119, 136, 153, 0.12);

    min-height: 80px;
    height: 90px;
    

    width: 100%;
   

    
}
.nav-items ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
   
    
}
.nav-items ul li{
    list-style: none;
    font-size: 2rem;
    color: white;
   margin:25px 40px 0px 40px;
    
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    object-fit: cover;
    max-height: 600px;
}

.header_container{
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-rows: 1fr 1fr;
   margin: 0px auto;
   background-color: white;
   width: 785px;
   min-width: 300px;
   
}

.main-heading-img{
    width:218px;
    grid-row: span 2;
}
.indoor-container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin: 0px auto;
    width: 80%;
}
.indoor-planting{
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    flex-direction: column;  
}
.decor-image{
    max-width:410px;
    min-height:488px;
    object-fit: cover;   
    border-radius: 25px;  
}
@media (max-width:1350px){
    .indoor-container{
        flex-direction: column;
    }
    
}
@media (max-width:785px){
 
    .nav-items ul li {
       
        font-size: 1.4rem;
        margin-top: 8px;
    }
    .header_container{
        width: 673px;
    }
    .s1-para{
        margin: 10px;
    }
    .nav-items{
        max-height: 70px;
        min-width: 100%;
        padding: 10px;
    }
    
}

@media (max-width:785px){
    .header_container{
        min-width: 600px;
        font-size: 1.2em;
        grid-template-columns: 0.5fr 1fr;
       
    }
    .main-heading{
        font-size: 1.5rem;
    }
    .nav-items ul{
        flex-wrap: wrap;
    }
    
}
@media (max-width:682px){

    .nav-items ul li {
       
        font-size: 1em;
        
    }
    .container{
       width: 682px;
       min-width: 300px;
    }

}



